# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CERN-OHL-S-2.0 AND AGPL-3.0-or-later AND CC-BY-SA-4.0

[submodule "libs/taxi"]
	path = libs/taxi
	url = git@github.com:alexforencich/taxi.git
[submodule "libs/picorv32"]
	path = libs/picorv32
	url = git@github.com:YosysHQ/picorv32.git
