# SPDX-FileCopyrightText: 2026 Enio Kaljic
# SPDX-FileCopyrightText: 2026 Tarik Hamedovic
# SPDX-License-Identifier: CC-BY-SA-4.0

# Sphinx build output
docs/build/

# Sphinx cache
docs/source/_build/
docs/source/.doctrees/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
