# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CERN-OHL-S-2.0 AND AGPL-3.0-or-later AND CC-BY-SA-4.0

[submodule "libs/taxi"]
	path = hw/libs/taxi
	url = git@github.com:alexforencich/taxi.git
